{# Managed by Ansible. Source of truth: this template plus the private inventory.
   One DHCP pool per client network. Management and servers use static
   addresses only. IPv6 services are off everywhere. #}
config dnsmasq
	option domainneeded '1'
	option localise_queries '1'
	option rebind_protection '1'
	option rebind_localhost '1'
	option local '/lan/'
	option domain 'lan'
	option expandhosts '1'
	option cachesize '1000'
	option authoritative '1'
	option readethers '1'
	option leasefile '/tmp/dhcp.leases'
	option localservice '1'
	option ednspacket_max '1232'
	list server '127.0.0.1#6053'

config dhcp 'lan'
	option interface 'lan'
	option start '100'
	option limit '150'
	option leasetime '12h'
	option dhcpv4 'server'
	option dhcpv6 'disabled'
	option ra 'disabled'
	option force '1'

config dhcp 'iot'
	option interface 'iot'
	option start '100'
	option limit '100'
	option leasetime '24h'
	option dhcpv4 'server'
	option dhcpv6 'disabled'
	option ra 'disabled'
	option force '1'

config dhcp 'guest'
	option interface 'guest'
	option start '100'
	option limit '100'
	option leasetime '2h'
	option dhcpv4 'server'
	option dhcpv6 'disabled'
	option ra 'disabled'
	option force '1'

config dhcp 'mgmt'
	option interface 'mgmt'
	option ignore '1'

config dhcp 'servers'
	option interface 'servers'
	option ignore '1'

config dhcp 'wan'
	option interface 'wan'
	option ignore '1'
	option leasetime '12h'
	option start '100'
	option limit '150'
	option dhcpv4 'disabled'

{# The firewall admits the operator workstation by address (E1 to E3), so
   that address is bound to its network card. #}
config host 'workstation'
	option name 'workstation'
	list mac '{{ openwrt_workstation_mac }}'
	option ip '192.168.1.196'

config odhcpd 'odhcpd'
	option maindhcp '0'
	option leasefile '/tmp/odhcpd.leases'
	option leasetrigger '/usr/sbin/odhcpd-update'
	option loglevel '4'
	option piodir '/tmp/odhcpd-piodir'
	option hostsdir '/tmp/hosts'
