{# Managed by Ansible. Source of truth: this template plus the private inventory.
   VLAN plan and port table: docs/ARCHITECTURE.md section 6. #}
config interface 'loopback'
	option device 'lo'
	option proto 'static'
	list ipaddr '127.0.0.1/8'

{# No ULA prefix: IPv6 is switched off on every internal network. #}
config globals 'globals'
	option dhcp_default_duid '{{ openwrt_dhcp_duid }}'
	option packet_steering '1'

config device
	option name 'br-lan'
	option type 'bridge'
	list ports 'lan1'
	list ports 'lan2'
	list ports 'lan3'
	list ports 'lan4'

{# lan1 = Node 1: management untagged, servers tagged.
   lan2 = workstation, lan3 and lan4 = access points: trusted untagged.
   The access-point ports become trunks in Phase 4. #}
config bridge-vlan 'vlan10'
	option device 'br-lan'
	option vlan '10'
	list ports 'lan1:u*'

config bridge-vlan 'vlan20'
	option device 'br-lan'
	option vlan '20'
	list ports 'lan2:u*'
	list ports 'lan3:u*'
	list ports 'lan4:u*'

config bridge-vlan 'vlan50'
	option device 'br-lan'
	option vlan '50'
	list ports 'lan1:t'

config bridge-vlan 'vlan60'
	option device 'br-lan'
	option vlan '60'

config bridge-vlan 'vlan70'
	option device 'br-lan'
	option vlan '70'

config interface 'mgmt'
	option device 'br-lan.10'
	option proto 'static'
	list ipaddr '10.0.10.1/24'
	option delegate '0'

config interface 'lan'
	option device 'br-lan.20'
	option proto 'static'
	option multipath 'off'
	list ipaddr '192.168.1.53/24'
	option delegate '0'

config interface 'servers'
	option device 'br-lan.50'
	option proto 'static'
	list ipaddr '10.0.50.1/24'
	option delegate '0'

config interface 'iot'
	option device 'br-lan.60'
	option proto 'static'
	list ipaddr '10.0.60.1/24'
	option delegate '0'

config interface 'guest'
	option device 'br-lan.70'
	option proto 'static'
	list ipaddr '10.0.70.1/24'
	option delegate '0'

config interface 'wan'
	option device 'internet'
	option proto 'static'
	option ipaddr '{{ openwrt_wan_ipaddr }}'
	option netmask '{{ openwrt_wan_netmask }}'
	option gateway '{{ openwrt_wan_gateway }}'
	option multipath 'off'
	option metric '1'

config device
	option name 'internet'
	option macaddr '{{ openwrt_wan_macaddr }}'

config interface 'jiowan'
	option proto 'dhcp'
	option multipath 'off'
	option metric '2'
	option auto '0'
