{# Managed by Ansible. Radio settings, network names and keys come from the
   private inventory. #}
config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi'
	option band '2g'
	option channel '{{ openwrt_wifi_radio.radio0.channel }}'
	option htmode '{{ openwrt_wifi_radio.radio0.htmode }}'
	option cell_density '{{ openwrt_wifi_radio.radio0.cell_density }}'
	option country '{{ openwrt_wifi_radio.radio0.country }}'
	option txpower '{{ openwrt_wifi_radio.radio0.txpower }}'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ openwrt_wifi_ssid_guest }}'
	option encryption 'psk2'
	option key '{{ openwrt_wifi_key_guest }}'

config wifi-device 'radio1'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi+1'
	option band '5g'
	option htmode '{{ openwrt_wifi_radio.radio1.htmode }}'
	option cell_density '{{ openwrt_wifi_radio.radio1.cell_density }}'
	option country '{{ openwrt_wifi_radio.radio1.country }}'
	option channel '{{ openwrt_wifi_radio.radio1.channel }}'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ openwrt_wifi_ssid_guest }}'
	option encryption 'psk2'
	option key '{{ openwrt_wifi_key_guest }}'

config wifi-iface 'wifinet2'
	option device 'radio1'
	option mode 'ap'
	option ssid '{{ openwrt_wifi_ssid_wds }}'
	option encryption 'psk2'
	option wds '1'
	option key '{{ openwrt_wifi_key_wds }}'
	option network 'lan'
	option hidden '1'
	option disabled '1'

{# The new main network: trusted, WPA2 and WPA3 together. #}
config wifi-iface 'main_radio0'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ openwrt_wifi_ssid_main }}'
	option encryption 'sae-mixed'
	option key '{{ openwrt_wifi_key_main }}'

config wifi-iface 'main_radio1'
	option device 'radio1'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ openwrt_wifi_ssid_main }}'
	option encryption 'sae-mixed'
	option key '{{ openwrt_wifi_key_main }}'

{# IoT network, 2.4 GHz only: that is the band such devices use. #}
config wifi-iface 'iot_radio0'
	option device 'radio0'
	option network 'iot'
	option mode 'ap'
	option ssid '{{ openwrt_wifi_ssid_iot }}'
	option encryption 'psk2'
	option key '{{ openwrt_wifi_key_iot }}'
