{# Managed by Ansible. Source of truth: this template plus the private inventory.
   Derived from the live device on 2026-10-05 (uci export wireless). #}
config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi'
	option band '2g'
	option channel '11'
	option htmode 'HT40'
	option cell_density '0'
	option country 'PA'
	option txpower '25'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ openwrt_wifi_ssid_current }}'
	option encryption 'psk2'
	option key '{{ openwrt_wifi_key_current }}'

config wifi-device 'radio1'
	option type 'mac80211'
	option path 'platform/soc/18000000.wifi+1'
	option band '5g'
	option htmode 'HE160'
	option cell_density '0'
	option country 'PA'
	option channel '36'

config wifi-iface 'default_radio1'
	option device 'radio1'
	option network 'lan'
	option mode 'ap'
	option ssid '{{ openwrt_wifi_ssid_current }}'
	option encryption 'psk2'
	option key '{{ openwrt_wifi_key_current }}'

config wifi-iface 'wifinet2'
	option device 'radio1'
	option mode 'ap'
	option ssid '{{ openwrt_wifi_ssid_wds }}'
	option encryption 'psk2'
	option wds '1'
	option key '{{ openwrt_wifi_key_wds }}'
	option network 'lan'
	option hidden '1'
	option disabled '1'

